* {
	margin: 0;
	padding: 0;
	font-size: 0;
}
*::-webkit-scrollbar {
	height: 7.5px;
	width: 7.5px;
}
*::-webkit-scrollbar-thumb {
	background-color: #333;
	-webkit-box-shadow: inset 0 0 10px #bbb;
	box-shadow: inset 0 0 10px #bbb;
}
*::-webkit-scrollbar-track {
	background-color: #bbb;	
}
html, body {
	background-color: #333;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
    height: 100%;
	text-align: center;
}
h1,
p,
a {
	color: #fff;
	letter-spacing: 1px;
	text-decoration: none;
}
h1 {
	font-size: 30px;
}
p,
a {
	font-size: 15px;
	line-height: 25px;
}
h1,
p {
	padding: 60px;
	padding: 20px;
}
button {
	background-color: rgba(0, 0, 0, 0);
	color: #fff;
	padding: 10px;
	border-radius: 100px;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 20px;
	border: 2.5px solid #bbb;
	transition: 0.25s;
}
button:hover {
	background-color: rgba(204, 119, 51, 0.5);
}
button:focus {
	outline: none;
}
.navbar {
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	overflow-y: hidden;
	z-index: 1;
	width: 100%;
	white-space: nowrap;
}
.navbar a {
	display: inline-block;
	transition: 0.125s;
	padding: 20px;
}
.navbar a:hover {
	background-color: rgba(51, 51, 51, 0.5);
}
.navbar div {
	transition: 0.25s;
	left: 0;
	right: 0;
}
.footer {
	background-color: #000;
	padding: 10px;
}
.footer p,
.footer a {
	color: #bbb;
}
.full {
    height: 100%; 
	overflow: hidden;
}
.half {
	height: 50%;
	overflow: hidden;
}
.parallax {
    height: 100%; 
	filter: brightness(0.375);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.front {
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
}
.full .front {
	top: 50%;
}
.half .front {
	top: 25%;
}
.third {
	display: inline-block;
	margin: 10px 0;
	max-width: 500px;
	vertical-align: top;
	width: calc(100% / 3);
}
.img::before {
	content: "";
	display: block;
	padding-top: 100%;
}
.img {
	background-size: cover;
	background-position: center;
	border-radius: 1000px;
	margin: auto;
	max-width: 250px;
	position: relative;
	width: 50%;
}
.left {
	background-color: #c84;
	text-align: left;
}
.right {
	background-color: #146;
	text-align: right;
}
.left,
.right {
	position: relative;
	width: 100%;
}
.right img {
	left: calc(200% / 3);
}
.left img,
.right img {
	object-fit: cover;
	position: absolute;
	height: 100%;
	width: calc(100% / 3);
}
.left div {
	background-color: #c73;
	margin-left: calc(100% / 3);
}
.right div {
	background-color: #134;
	margin-left: calc(100% / 6);
}
.left div,
.right div {
	width: 50%;
}
@media only screen and (max-width: 768px) {
	.third {
		width: 100%;
	}
	.left,
	.right {
		padding-bottom: 12.5vh;
	}
	.left img,
	.right img {
		height: 50vh;
		left: 0;
		position: relative;
		width: 100%;
	}
	.left div,
	.right div {
		margin-left: 0;
		width: 100%;
	}
}
